<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="theme-color" content="#FFA700">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="img/x-icon" href="img/fav.ico"/>
  <title>TenVagas</title>
  <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/main2.css">



</head>
<!--<body id="myPage" onload="time()" data-spy="scroll" data-target=".navbar" data-offset="50" onLoad="textticker()">-->
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
 
  <!-- Navbar (sit on top) ORIGINAL -->
  <div class="w3-top">
  <img class="logo" src="img/22.png" width="126" />
  </div>

  <!--CODIGO ORIGINAL PERCISTENTE-->
    <div id="map-template"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>

      <footer>

      </footer>   
  

</body>
</html>


