  /*Navbar*/
  .logo{margin: 7px 16px;opacity: 0.9;position: absolute;}

  
/*Pulse Animation*/
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.pulse {
  animation: pulse-animation 2s infinite;
  padding:2px;
  background:#3DCE00;border-radius:20px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}


/*FOOTER*/
footer{position: fixed;left: 0;bottom: 0; height: 10px;width: 100%; padding: 0px 10px 0px 0px;z-index:9999;opacity: 0.9;
 font-size:11px;text-decoration: none;margin-top: 0px;text-align: center;}



